/* Global Styles */
* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-slate-gray: #374B4A;
  --feldgrau: #526760;
  --olive: #32403B;
  --dark-green: #0a0e0c;
  --mint-cream: #DBE9E4;
  --cream: #eaf8f3;
  --lblue: #88D9E6;
  --cel: #C5FFFD;
  --green: #39d67a;
  --red: #f8b9b4;
}

html, body {
  font-family: "Sunflower", Arial, Helvetica, sans-serif;
  background-color: var(--cream);
}

/* Header Styles */
header {
  background-color: var(--dark-slate-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

header img {
  width: 50px;
  height: auto;
  border-radius: 5px;  
  padding: 1rem;
}

.chamber-title {
  font-family: "Nova Cut", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--mint-cream);
  line-height: 1.4;
  text-align: left;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.navigation {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navigation li {
  display: inline;
}

.navigation a {
  color: var(--mint-cream);
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.navigation a:hover {
  color: var(--lblue);
}

/* Footer Styles */
footer {
  color: var(--mint-cream);
  background: var(--dark-slate-gray);
  padding: 1rem;
  text-align: center;
}

/* Member Cards */
#members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 2rem;
  min-height: 30vh;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.member-card {
  width: 400px;
  max-width: 100%;
  min-height: 300px;
  background-color: var(--mint-cream);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.member-card h2 {
  color: var(--mint-cream);
  background-color: var(--dark-slate-gray);
  border-radius: 10px 10px 0 0;
  padding: 1rem;
}

.member-card img {
  margin: 1rem 0;
  border-radius: 5px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.member-card p {
  font-size: 1rem;
  color: var(--dark-green);
}


/* CTA Button */
.cta-join-button button {
  background-color: var(--lblue);
  color: var(--dark-green);
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: background 0.3s;
  border: 1px solid var(--dark-green);  
}

.cta-join-button button:hover {
  background-color: var(--cel);
  transform: scale(1.01);
}

/* Responsive Design */
@media screen and (max-width: 900px) {
  #members {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 37.5em) {
  .navigation {
    display: none;
    background-color: var(--olive);
    text-align: center;
    width: 100%;
  }

  .navigation.show {
    display: block;
  }

  .navigation a:hover,
  .navigation a:active {
    color: var(--lblue);
    font-weight: 800;
    transform: scale(1.05);
  }

  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .member-card {
    min-height: auto;
    margin: auto;
  }
}

.general-info {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem;
}

#current-events-header, #weather-forecast-header, #current-weather-header {
  background-color: var(--dark-slate-gray);
  color: var(--cream);
  border-radius: 10px 10px 0px 0px;
  padding: 1rem;
  margin: 0 auto;
}

.current-events {
  background-color: var(--mint-cream);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* weather forecast */
.weather-forecast {
  background-color: var(--mint-cream);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Weather Card */
.weather-card {
  /* border: 1px solid var(--dark-green); */
  background-color: var(--mint-cream);
  border-radius: 10px;
  /* text-align: center; */
  /* padding: 2rem 1.5rem;
  width: 200px;
  max-width: 300px;
  margin: 20px auto;
  overflow: hidden; */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.weather-card:hover {
  transform: scale(1.01);
}

.weather-card h2 {
  color: var(--dark-green);
  /* font-size: 1.4rem; */
}

.weather-card #description {
  text-transform: capitalize;
  color: var(--dark-green);
  font-size: 1rem;
  font-weight: 600;
}

.weather-card #temperature {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--dark-green);
}
