#menu {
  color: var(--mint-cream);
  display: block;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  right: 1rem;
  top: 1rem
}

#menu::before {
  content: "≡";
}

#menu.show::before {
  content: "X";
}

.navigation {
  list-style-type: none;
  background-color: var(--olive);
  color: var(--mint-cream);
  list-style: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  color: var(--mint-cream);
  padding: 0.5rem 1rem;
  text-align: left;
  text-decoration: none;    
  font-size: large;
  transition: 0.5s;
  text-align: center;
}

.navigation a:hover, navigation a:active {
  color: var(--lblue);
  font-weight: 800;
  transform: scale(1.1);
}

.show li {
  display: block;
}

.active::before {
  content: "📍";
}

main h1 {
  color: var(--olive);
  margin: 0;
  padding: 0.5rem 0;
}

main {
  display: block;
  gap: 2rem;
  margin: 1rem;
  border: 1rem;
  border-radius: 10px;
}

main h2 {
  padding: 1rem;
  text-align: center;
  border: 1rem;
  border-radius: 10px 10px 0 0;
  background-color: var(--feldgrau);
  color: #fff;
}

.completed-course {
  background-color: var(--lblue);
  color: #000;
  font-weight: bold;
}

.incomplete-course {
  background-color: var(--red);
  color: #000;
  font-weight: bold;
}

.courses-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  justify-content: center;
}

.course-button {
  padding: 10px 15px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.course-button:hover {
  transform: scale(1.01);
}